@import 'variables';

.building--row-container{
  height: 100%;
  width: 100%;
  display: grid;
  grid-area: rowContainerArea;
  grid-template-areas:
  "sourceRowArea"
  "userRowArea";
  grid-template-rows: 50% 50%;
}

.building--row{
  height: 100%;
  width: 100%;
  display: grid;
  align-self: center;
  align-items: center;
  justify-items: center;
  grid-template-rows: 100%;
}

.building--row__source{
  grid-area: sourceRowArea;
  grid-template-areas:
  ". buildingLotArea1 buildingLotArea2 buildingLotArea3 .";
  grid-template-columns: 8% 30% 30% 30% 2%;
  z-index: 1;
}
.building--row__user{
  grid-area: userRowArea;
  grid-template-areas:
  ". buildingLotArea1 buildingLotArea2 buildingLotArea3 .";
  grid-template-columns: 2% 30% 30% 30% 8%;
  z-index: 2;
}

BuildingPiece {
  align-items: end;
  display: grid;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}


//Lot Areas
.area--lot-1{
  grid-area: buildingLotArea1;
}

.area--lot-2{
  grid-area: buildingLotArea2;
}

.area--lot-3{
  grid-area: buildingLotArea3;
}

//Placeholder lot images
.type--example-placeholder-1{
  background-image: $source-lot--1;
}

.type--example-placeholder-2{
  background-image: $source-lot--2;
}

.type--example-placeholder-3{
  background-image: $source-lot--3;
}

.type--user-placeholder-1{
  background-image: $user-lot--1;
}

.type--user-placeholder-2{
  background-image: $user-lot--2;
}

.type--user-placeholder-3{
  background-image: $user-lot--3;
}

.type--zone-vacant{
  background-image: $blank--zone;
}

.type--zone-house{
  background-image: $house--zone;
}

.type--zone-office{
  background-image: $office--zone;
}

.type--base-brick{
  background-image: $base__brick;
}

.type--base-stone{
  background-image: $base__gray;
}

.type--stairs-brick{
  background-image: $stairs__brick;
}

.type--stairs-stone{
  background-image: $stairs__gray;
}

.type--main-house-red{
  background-image: $house--main__red;
}

.type--main-house-green{
  background-image: $house--main__green;
}

.type--main-house-blue{
  background-image: $house--main__blue;
}

.type--main-office-red{
  background-image: $office--main__red;
}

.type--main-office-green{
  background-image: $office--main__green;
}

.type--main-office-blue{
  background-image: $office--main__blue;
}

.type--roof-house-red{
  background-image: $house--roof__red;
}

.type--roof-house-green{
  background-image: $house--roof__green;
}

.type--roof-house-blue{
  background-image: $house--roof__blue;
}

.type--roof-office-red{
  background-image: $office--roof__red;
}

.type--roof-office-green{
  background-image: $office--roof__green;
}

.type--roof-office-blue{
  background-image: $office--roof__blue;
}

.type--decoration-flowers{
  background-image: $accessory--flowers;
}

.type--decoration-graffiti{
  background-image: $accessory--graffiti;
}

.type--roof-office-blue{
  background-image: $office--roof__blue;
}



